<ul class='regions_list'>
  <% resource.configurable_regions.each do |region| %>
    <li>
      <fieldset class='region'>
      <legend><%= region.humanize %></legend>
      <% if part = resource.part_for(region) %>
        <%= render part %>
        <%= link_to action_title(:action => 'edit', :controller => 'parts'), edit_part_path(part) %>
        <%= link_to action_title(:action => 'destroy', :controller => 'parts'), part_path(part), confirm: t('Are you sure?'), method: :delete %>
      <% else %>
        <%= semantic_form_for :part, :url => new_node_part_path(resource), :html => {:method => :get }  do | form | %>
          <%= form.inputs do %>
            <%= form.input :type, :as => :select, :collection => Part.descendants %>
            <%= form.input :region, :as => :hidden, :input_html => { :value => region } %>
          <% end %>
          <%= form.buttons do %>
            <%= form.commit_button action_title(:action => 'new', :controller => 'parts'), :button_html => { :class => 'button' } %>
          <% end %>
        <% end %>
      <% end %>
      </fieldset>
    </li>
  <% end %>
</ul>

