<%= form.inputs do %>
  <%= form.input :title %>
  <%= form.input :slug %>
<% end %>

<%= form.semantic_fields_for :regions do | region_form | %>
  <%= region_form.inputs do %>
    <%= region_form.input :title %>
    <%= region_form.input :slug %>
    <li class="destroy_action"><%= region_form.link_to_remove action_title(:action => 'destroy', :controller => 'regions') %></li>
  <% end %>
<% end %>

<div class="regions_fieldset">
  <%= form.link_to_add action_title(:action => 'new', :controller => 'regions'), :regions %>
</div>
