<%= show_for resource do | locale | %>
  <%= locale.attribute :title %>
  <%= locale.attribute :slug do %>
    <%= resource.slug %>
  <% end %>
  <%= locale.attributes :template, :navigation_position %>
<% end %>
<div class="actions">
  <%= link_to action_title(:action => 'edit'), edit_resource_path, :class => 'button icon edit' if controller.respond_to? :edit %>
  <%= link_to action_title(:action => 'destroy'), resource_path, confirm: t('Are you sure?'), method: :delete, :class => 'button icon remove' %>
</div>
