<h3><%= gallery_part.title %></h3>

<ol>
  <% gallery_part.gallery_pictures.each_with_index do |picture, index| %>
    <li class="<%= cycle :first, :second, :third %>">
      <div class='presentation'>
        <% if picture.picture_url? %>
          <% if picture.picture_url.match(/jpg|jpeg|bmp|png|tiff/i) %>
            <%= image_for(picture, :alt => picture.description, :width => '200') %>
          <% else %>
            <%= link_to picture.picture_url, picture.picture_url %>
          <% end %>
        <% end %>
      </div>
      <div class="description">
        <p class='text'><b>Номер <%= index + 1 %>:</b> <%= picture.description %></p>
        <p class='file'><b>Файл:</b> <%= link_to picture.picture_url.split('/').last, picture.picture_url %></p>
      </div>
    </li>
  <% end %>
</ol>
