<%= link_to parent, parent %>
<%= link_to resource, resource %>
<ul>
  <% resource.children.each do | child | %>
    <li><%= link_to child, child %></li>
  <% end %>
  <li><%= link_to action_title(:action => 'new', :controller => 'pages'), new_node_page_path(resource) %></li>
</ul>

<%= render :partial => 'parts/list' %>
