<%= form.inputs do %>
  <%= form.input :region, :as => :hidden %>
  <%= form.input :type, :as => :hidden %>

  <h4>Добавить список</h4>
  <div class='grouiping_items js-sortable'>
    <%= form.semantic_fields_for :news_collection_items do |f| %>
      <span class='js-sortable-handler'></span>
      <%= f.input :position, :as => :hidden, :input_html => { :class => 'js-sortable-position' } %>
      <%= f.input :title %>
      <%= f.input :node,
        :as => :select,
        :collection => form.object.node.nodes_from_this_site,
        :member_label => ->(n) { ('&nbsp;' * 2 * n.depth + n.title).html_safe } %>
      <%= f.input :count %>
      <%= f.link_to_remove t('remove'), :class => 'button trash icon' %>
    <% end %>

    <%= form.link_to_add t('add_news_collection_item'), :news_collection_items, :class => 'button icon add' %>
  </div>
<% end %>
