<div class="nodes_list">
  <%= content_tag :ul, :class => 'sortable' do %>
    <% resource.children.each do | child | %>
      <li data-id='<%= child.id %>'>
        <span class='hidden'>хвать</span>
        <%= link_to child, [:manage, child] %>
      </li>
    <% end %>
  <% end if resource.children.any? %>
  <div class="actions">
    <%= link_to action_title(:action => 'new', :controller => controller), path, :class => 'button icon add' %>
    <%= link_to "Сортировка", sort_manage_nodes_path, :class => "button icon loop sort_link off" if resource.children.many? %>
  </div>
</div>
