<%= content_tag(:div, :id => dom_id(upload),
                :class => "gal-item",
                :"data-url" => upload_path(upload, upload.file_name)) do %>
  <div class="fileupload-file gal-inner-holder">
    <div class="img">
      <%= link_to image_tag(icon_path, :alt => "", :size => "100x100"), upload_path(upload, upload.file_name) %>
    </div>
    <div class="img-data">
      <div class="img-name"><%= link_to upload.file_name, upload_path(upload, upload.file_name) %></div>
      <div class="time-size">
        <div class="time"><%= l upload.created_at %></div>
        <div class="fileupload-size size"><%= number_to_human_size(upload.file.size) %></div>
      </div>
      <div class="time-remove">
        <%= link_to "удалить", url_for(:action => :destroy, :controller => :uploads, :id => upload),
                                                      :method => :delete,
                                                      :confirm => t('ckeditor.confirm_delete'),
                                                      :class => 'remove',
                                                      :title => 'удалить' %>
      </div>
    </div>
  </div>
<% end %>

