<%= semantic_nested_form_for resource, :url => smart_resource_url do | form | %>

  <%= render :partial => "fields", :locals => { :form => form } %>

  <%= form.buttons do %>
    <%= form.commit_button %>
    <li class="cancel"><%= link_to t("cancel"), smart_resource_url %></li>
  <% end %>
<% end %>
