<%= javascript_include_tag 'esp-ckeditor' %>
<%= javascript_include_tag 'info_plugin' %>

<%= form.inputs do %>
  <%= form.input :region, :as => :hidden %>
  <%= form.input :type, :as => :hidden %>

  <div class='spotlight_items'>
    <%= form.semantic_fields_for :spotlight_items do |f| %>
      <div class='item'>
        <span class='handler_up' title='вверх'>вверх</span>
        <span class='handler_down' title='вниз'>вниз</span>
        <ul>
          <%= f.input :position, :as => :hidden, :input_html => { :class => 'position' } %>
          <%= f.input :kind, :input_html => { :class => 'spotlight_kind' } %>
          <%= f.input :legend, :input_html => { :placeholder => 'Пресс-релизы' } %>
          <%= f.input :title %>
          <%= f.input :url, :as => :string %>
          <%= f.input :target_url, as: :boolean, input_html: { class: "target-url" } %>
          <%= f.input :annotation, :input_html => { :class => :ckeditor },
            :wrapper_html => { :class => 'annotation' } %>
          <%= f.input :since, :start_year => Time.zone.now.year, :end_year => (Time.zone.now - 10.years).year,
            :wrapper_html => { :class => 'hidden since' } %>
          <%= f.input :starts_on, :start_year => Time.zone.now.year, :end_year => (Time.zone.now - 10.years).year,
            :wrapper_html => { :class => 'hidden starts_on' } %>
          <%= f.input :ends_on, :start_year => Time.zone.now.year, :end_year => (Time.zone.now - 10.years).year,
            :wrapper_html => { :class => 'hidden ends_on' } %>
          <div class='photos'>
            <%= f.semantic_fields_for :spotlight_item_photos do |photo| %>
              <% if photo.object.persisted? %>
                <%= link_to photo.object.photo.to_s, :class => 'js-colorbox', :rel => "colorbox-#{f.object.id}" do %>
                  <%= image_tag photo.object.photo.to_s.gsub(/\/\d+-\d+\//, '/100-100!n/'), :size => '100x100' %>
                <% end %>
              <% else %>
                <%= photo.input :photo %>
              <% end %>
              <%= photo.link_to_remove 'удалить' %>
            <% end %>
            <p class='action'><%= f.link_to_add 'добавить фотографию', :spotlight_item_photos %></p>
          </div>
          <li><hr /></li>
        </ul>
        <%= f.link_to_remove t('remove'), :class => 'button trash icon' %>
      </div>
    <% end %>

    <%= form.link_to_add t('add_spotlight_item'), :spotlight_items, :class => 'button icon add' %>
  </div>
<% end %>
