<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | <%= I18n.t('application') %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="toolbar_wrapper">
    <%= render_navigation :context => :toolbar %>
  </div>
  <div id="title_wrapper">
    <%= content_tag :div, yield(:actions), :class => "actions" if content_for?(:actions) %>
    <h1><%= title %></h1>
  </div>
  <div id="content_wrapper">
    <nav>
      <ul class='nodes_tree'>
      </ul>
    </nav>
    <article>
      <%= yield %>
    </article>
  </div>
  <div id="footer">
    <div class="client">
      <%= request.remote_ip %>,
      <%= request.env['HTTP_USER_AGENT'] %>
    </div>
    <div class="copyright">
      <%= Time.now.year.eql?(2011) ? "2011" : raw("2011&ndash;#{Time.now.year}") %>,
      <%= link_to "OpenTeam", "http://openteam.ru/" %>
    </div>
  </div>
</body>
</html>
