<% content_for :content do %>
  <nav>
    <h1><%= link_to resource.site.slug, resource.site %></h1>
    <ul class='nodes_tree'>
      <%= expanded_ancestors(resource.is_a?(Site) ? [] : resource.ancestors.from_depth(1).all << resource) %>
    </ul>
  </nav>
  <article>
    <div class="change_route_wrapper">
      <%= semantic_form_for :change_route, :url => search_nodes_path do | form | %>
        <%= form.inputs do %>
          <%= form.input :site_slug, :as => :hidden, :input_html => { :value => resource.site.slug }%>
          <%= form.input :route, :label => false, :input_html => { :value => resource.route_without_site } %>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </article>
<% end %>
<%= render :template => 'layouts/application' %>
